<template name="projectsPage">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Projects</h1>
				<h2>Partnering with our clients allows us to do remarkable work.</h2>
			</div>
		</div>
	</div>
	{{>projectsTemp}}
</template>

<template name="projectsTemp">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="sortProjects">
					<div class="sort-controls">
						<div class="filter" data-filter="all">Show All</div>
						<div class="filter" data-filter=".web-design">Web Design</div>
						<div class="filter" data-filter=".web-app">Web Applications</div>
						<div class="sort" data-sort="myorder:desc">Latest</div>
						<div class="sort" data-sort="myorder:asc">Oldest</div>
						
					</div>

					<div class="project-items">
						{{> projectEntry category="web-app" id="4" projectName="Commercial Connected" projectUrl="http://www.commercialconnected.com"}}

						{{> projectEntry category="web-design" id="3" projectName="Mudd Runner" projectUrl="http://www.muddrunner.com"}}

						{{> projectEntry category="web-design" id="2" projectName="Mudd Runner" projectUrl="http://www.muddrunner.com"}}

						{{> projectEntry category="web-design" id="1" projectName="Mudd Runner" projectUrl="http://www.muddrunner.com"}}

						
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="projectEntry">
	<div class="mix {{category}}" data-myorder="{{id}}">
		<div class="item">
			<img src="http://placehold.it/350x150">
			<div class="project-info">
				<h3>{{projectName}}</h3>
				<a href="{{projectUrl}}">Visit Site</a>
			</div>
		</div>
	</div>
</template>