<template name="mainNav">
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{pathFor 'homeBody'}}">MarkPoint</a>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{pathFor 'servicesPage'}}">Services</a></li>
					<li><a href="{{pathFor 'projectsPage'}}">Projects</a></li>
					<li><a href="{{pathFor 'teamPage'}}">Team</a></li>
					<li><a href="{{pathFor 'contactPage'}}">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{pathFor 'projectLogin'}}">Project Dashboard Login</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
			
			
			
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div id="main">
			{{> yield}}
		</div>
	</div>
</template>