.navbar {
	margin-bottom: 0; 
	border-bottom: solid 2px #0f8da3;
	border-radius: 0;
}

.navbar .navbar-inner {
	border-radius: 0px 0px 3px 3px; 
}

.navbar-default .navbar-nav > li > a {
	color: #102429;
	text-transform: uppercase;
	font-size: .9em;
}

.navbar-default .navbar-nav > li:hover {
	background: #0f8da3;

	&>a {
		color: white;
	}
}
.navbar-header {
	-webkit-animation-duration: 1s!important;
	-moz-animation-duration: 1s!important;
	-o-animation-duration: 1s!important;
	animation-duration: 1s!important;
	img{
		float: left;
		height: 30px;
		width: 100px;
		margin: -5px 4px;
	}
}