<template name="careerPage">
	<div class="career-background">
		<div class="container">
			<div class="career-title text-center">
				<div class="row">
					<div class="col-sm-12">
						<h1>Working at MarkPoint</h1>
						<h2>Help us put smiles on people's faces</h2>
						<button class="btn btn-primary">Find Openings</button>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row career-info">
					<div class="col-sm-12">
						<ul>
							<li>
								<h3>Departments and Roles</h3>
								<img src="http://placehold.it/250x175">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum saepe eius nemo quia quasi, architecto, totam modi quos harum rem nostrum tempore? Repellendus, dignissimos. Aperiam amet vero voluptate, maiores! Repudiandae!</p>
							</li>
							<li>
								<h3>Locations</h3>
								<img src="http://placehold.it/250x175">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum saepe eius nemo quia quasi, architecto, totam modi quos harum rem nostrum tempore? Repellendus, dignissimos. Aperiam amet vero voluptate, maiores! Repudiandae!</p>
							</li>
							<li>
								<h3>Life at MarkPoint</h3>
								<img src="http://placehold.it/250x175">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum saepe eius nemo quia quasi, architecto, totam modi quos harum rem nostrum tempore? Repellendus, dignissimos. Aperiam amet vero voluptate, maiores! Repudiandae!</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>