<template name="teamPage">
	<div class="team-background">
		<div class="container">
			<div class="title-section">
				<div class="row">
					<div class="col-sm-12">
						<h1>Team</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="team-members">
					<div class="col-sm-12">
						<div class="user-profile">
							<ul>
								<li>
									<img src="http://placehold.it/150x150">
									<h3>Neil Sammons</h3>
									<span><strong>Lead Developer</strong></span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero a perspiciatis, voluptatem blanditiis dolor enim officia cupiditate sequi. Adipisci temporibus provident sunt quas saepe accusantium expedita, suscipit impedit ea nobis.</p>
								</li>
								<li>
									<img src="http://placehold.it/150x150">
									<h3>Neil Sammons</h3>
									<span><strong>Lead Developer</strong></span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero a perspiciatis, voluptatem blanditiis dolor enim officia cupiditate sequi. Adipisci temporibus provident sunt quas saepe accusantium expedita, suscipit impedit ea nobis.</p>
								</li>
								<li>
									<img src="http://placehold.it/150x150">
									<h3>Neil Sammons</h3>
									<span><strong>Lead Developer</strong></span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero a perspiciatis, voluptatem blanditiis dolor enim officia cupiditate sequi. Adipisci temporibus provident sunt quas saepe accusantium expedita, suscipit impedit ea nobis.</p>
								</li>
								<li>
									<img src="http://placehold.it/150x150">
									<h3>Neil Sammons</h3>
									<span><strong>Lead Developer</strong></span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero a perspiciatis, voluptatem blanditiis dolor enim officia cupiditate sequi. Adipisci temporibus provident sunt quas saepe accusantium expedita, suscipit impedit ea nobis.</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>