<template name="teamPage">
	<div class="team-background">
		<div class="container">
			<div class="title-section">
				<div class="row">
					<div class="col-sm-12">
						<h1>Team</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row team-members">
				<ul>
					<li>
						<a href="#"><img src="http://placehold.it/400x250"></a>
						<div>
							<h3>Neil Sammons</h3>
							<h4>Lead Developer</h4>
						</div>
					</li>
					<li>
						<a href="#"><img src="http://placehold.it/400x250"></a>
						<div>
							<h3>Neil Sammons</h3>
							<h4>Lead Developer</h4>
						</div>
					</li>
					<li>
						<a href="#"><img src="http://placehold.it/400x250"></a>
						<div>
							<h3>Neil Sammons</h3>
							<h4>Lead Developer</h4>
						</div>
					</li>
					<li>
						<a href="#"><img src="http://placehold.it/400x250"></a>
						<div>
							<h3>Neil Sammons</h3>
							<h4>Lead Developer</h4>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>