<template name="servicesPage">
	<div class="services-background">
		<div class="container">
			<div class="title-section">
				<div class="row">
					<div class="col-sm-12">
						<h1>What we do</h1>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="services-section">
					<div class="row">
						<div class="col-sm-6 web-design">
							<h2>web design</h2>
							<i class="fa fa-desktop"></i>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptates doloremque recusandae illo. Optio aliquam quos aperiam itaque repellat distinctio numquam, reprehenderit excepturi cumque. Hic quam, culpa in asperiores animi.</p>
						</div>
						<div class="col-sm-6 web-spplications">
							<h2>web application development</h2>
							<i class="fa fa-desktop"></i>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit voluptates doloremque recusandae illo. Optio aliquam quos aperiam itaque repellat distinctio numquam, reprehenderit excepturi cumque. Hic quam, culpa in asperiores animi.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>