<template name="aboutUsPage">
	<div class="container">
		<div class="row">
			<div class="main-message">
				<div class="col-sm-12">
					<p>Interactive web company based out of chicago</p>
					<h1>Are you on <span>boat?</span></h1>
					<hr>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row about-info">
				<div class="col-sm-12">
					<img src="images/markpoint.png" alt="">
					<h3>The Journey</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime voluptatem, in perferendis cum reiciendis excepturi voluptates libero omnis distinctio tempore labore quae iste architecto minus ratione neque impedit saepe quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae animi itaque beatae saepe facere alias, esse ducimus ipsam placeat necessitatibus vel, tenetur delectus, commodi amet! Perspiciatis placeat, voluptas. Fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi nesciunt magni fugit magnam labore temporibus consequatur quia accusantium, eum repudiandae qui explicabo repellat consectetur, praesentium doloremque! Porro a, iure!</p>
				</div>
			</div>
		</div>
	</div>
</template>